<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="img/logo.png">
    <title>DoHub</title>
</head>
<body class="space-between horizontal-flex">
<div class="main-container space-between" id="root">
    <div class="main-content">

        <div class="header">
            <span class="welcome">Dohub, Welcome</span>
            <div class="account vertical-flex button">
                <div class="user-img center">
                    <img src="img/github.png">
                </div>
                <span class="user-name center">Login with Github</span>
            </div>
            <div class="navigation vertical-flex">
                <div class='navigation-item' :class="{ 'navigation-item-activate': menu=='home'}" @click="changeMenu('home')">
                    Home
                </div>
                <div class="navigation-item" :class="{ 'navigation-item-activate': menu=='admin'}" @click="changeMenu('admin')" v-if="is_admin">
                    Admin
                </div>
            </div>
        </div>

        <div class="full-container space-between">

            <!-- LEFT CONTAINER ==============================================================================================-->
            <div class="left-container" v-if="menu=='home' || admin_open_spawn">
                <div class="menu vertical-flex">
                    <h3>Choose An Option</h3>
                </div>
                <div class="item vertical-flex" v-for="part in Math.ceil((current_server_list.length + 1)/3)" :key="part">
                    <item-block
                        v-for="index in ((part == Math.ceil((current_server_list.length +1)/3)) ? ((current_server_list.length)%3) : 3)"
                        :key="part*3 + index - 4"
                        :img="serverList[current_server_list[part*3 + index - 4]]['image']" 
                        :title="serverList[current_server_list[part*3 + index - 4]]['name'] + ' Server'" 
                        :short_description="serverList[current_server_list[part*3 + index - 4]]['cpu'] + 'x vCPU, ' + serverList[current_server_list[part*3 + index - 4]]['gpu'] + ' GPU'" 
                        :hover_blue="state=='offline'" 
                        :button="state=='offline'"
                        :space="index < 3"
                        :activate="serverList[current_server_list[part*3 + index - 4]]['name'] == server"
                        @click="changeServer(serverList[current_server_list[part*3 + index - 4]]['name'])">
                    </item-block>
                    <div class="item-block-add vertical-flex center" :class="{'button': is_admin, 'hover-blue': is_admin}" v-if="part == Math.ceil((current_server_list.length +1)/3)">
                        <span><i class="fa fa-plus"></i> Add new options</span>
                    </div>
                </div>

                <div class="menu vertical-flex">
                    <h3>Equipment Metric</h3>
                </div>
                <div class="item vertical-flex">
                    <img src="img/cpu.png" class="equipment-img">
                    <equipment-metric :item_key="'CPU'" :value="serverList[server]['cpu'] + 'x vCPU'"></equipment-metric>
                    <slider :labels="equipmentList.cpu.labels" :value="serverList[server]['cpu']" @change_value="val => serverList[server]['cpu'] = val" :disabled="!is_admin"></slider>
                </div>
                <div class="item vertical-flex">
                    <img src="img/ram.png" class="equipment-img">
                    <equipment-metric :item_key="'RAM'" :value="serverList[server]['ram']"></equipment-metric>
                    <slider :labels="equipmentList.ram.labels" :value="serverList[server]['ram']" @change_value="val => serverList[server]['ram'] = val" :disabled="!is_admin"></slider>
                </div>
                <div class="item vertical-flex">
                    <img src="img/hdd.png" class="equipment-img">
                    <equipment-metric :item_key="'Storage Device: NAS'" :value="serverList[server]['drive'] + ' HDD'"></equipment-metric>
                    <slider :labels="equipmentList.drive.labels" :value="serverList[server]['drive']" @change_value="val => serverList[server]['drive'] = val" :disabled="!is_admin"></slider>
                </div>
                <div class="item vertical-flex">
                    <img src="img/gpu.png" class="equipment-img">
                    <equipment-metric :item_key="'GPU: NVIDIA A100'" :value="serverList[server]['gpu']"></equipment-metric>
                    <slider :labels="equipmentList.gpu.labels" :value="serverList[server]['gpu']" @change_value="val => serverList[server]['gpu'] = val" :disabled="!is_admin"></slider>
                </div>

                <div class="menu vertical-flex">
                    <h3>System Information</h3>
                </div>
                <div class="item vertical-flex">
                    <item-block 
                        img="ubuntu.png" 
                        title="Ubuntu" 
                        short_description="20.04 LTS" 
                        space="true">
                    </item-block>
                    <item-block 
                        img="docker.png" 
                        title="Docker Image" 
                        :short_description="serverList[server]['docker_image']" 
                        space="true">
                    </item-block>
                    <item-block 
                        img="kubernetes.png" 
                        title="Kubernetes" 
                        short_description="v1.26.0">
                    </item-block>
                </div>

                <div class="menu vertical-flex">
                    <h3>Supported Software</h3>
                </div>
                <div class="item vertical-flex">
                    <item-block 
                        img="codeserver.png" 
                        title="Code Server" 
                        short_description="Visual Studio Code" 
                        space="true">
                    </item-block>
                    <item-block 
                        img="pytorch.png" 
                        title="Pytorch Cuda" 
                        short_description="2.0.0 + cu11.4" 
                        space="true">
                    </item-block>
                    <div class="item-block vertical-flex"></div>
                </div>
            </div>

            <!-- RIGHT CONTAINER ===========================================================================================-->
            <div class="right-container" v-if="menu=='home' || admin_open_spawn">
                <div class="menu vertical-flex">
                    <h3>Current Specifications</h3>
                </div>
                <div class="right-description">
                    <div class="description-title">CPU frequency 3.3-3.6 GHz.</div>
                    <div class="description-content">
                        Above numbers is average frequency of CPU, in some case it may varies by some reason.
                        This option is suitable for AI servers, trainning, inferencing, websites.
                    </div>
                </div>
                <div class="list-specification horizontal-flex">
                    <specification-item item_key="Option Name" :value="serverList[server]['name']"></specification-item>
                    <specification-item item_key="CPU" :value="serverList[server]['cpu'] + 'x vCPU'"></specification-item>
                    <specification-item item_key="RAM" :value="serverList[server]['ram']"></specification-item>
                    <specification-item item_key="Storage Device" :value="serverList[server]['drive'] + ' HDD'"></specification-item>
                    <specification-item item_key="GPU" :value="serverList[server]['gpu'] + ' NVIDIA A100'"></specification-item>
                    <specification-item item_key="Operating System" value="Ubuntu 20.04"></specification-item>
                    <specification-item item_key="Docker Image" :value="serverList[server]['docker_image']"></specification-item>
                    <specification-item item_key="Application" value="VSCode Server"></specification-item>
                    <specification-item item_key="Status" :value="state"></specification-item>
                </div>

                <div class="menu vertical-flex">
                    <h3>Plans</h3>
                </div>
                <div class="right-description">
                    <div class="description-title">Choose your plan</div>
                    <div class="description-content">
                        There are options for users to shutdown their server.
                        Default option is "Never Shutdown" which means that the server 
                        will never be shutdown until user stop and choose another options.
                    </div>
                </div>
                <div class="list-plan horizontal-flex">
                    <div class="plan-block space-between activate">
                        <div class="specification-key">Default</div>
                        <div class="specification-value">Never Shutdown</div>
                    </div>
                    <div class="plan-block space-between">
                        <div class="specification-key">Basic</div>
                        <div class="specification-value">1 Month</div>
                    </div>
                </div>

                <div class="menu vertical-flex">
                    <h3>VSCode Server Password</h3>
                </div>
                <div class="right-description">
                    <div class="description-title">Password for Code Server <span style="color: red;">*</span></div>
                    <div class="description-content">
                        This field is required for user to access Code Server, this password will be used in latter step.
                    </div>
                </div>
                <div class="list-plan horizontal-flex">
                    <input type="text" class="input-text" value="daovietanh190499" disabled>
                </div>
                <div class="list-plan horizontal-flex" v-if="state=='offline'">
                    <button class="button-input button" @click="startServer()">Start Server</button>
                </div>
                <div class="list-plan horizontal-flex" v-if="state=='running'">
                    <button class="button-input-2 button" @click="stopServer()">Stop Server</button>
                </div>
                <div class="list-plan horizontal-flex" v-if="state=='running'">
                    <button class="button-input-1 button" @click="accessServer()">Access Server</button>
                </div>
            </div>

            <!-- ADMIN PAGE ================================================================================================== -->
            <div class="table" v-if="menu=='admin' && !admin_open_spawn">
                <div class="menu vertical-flex">
                    <h3>Users Management</h3>
                </div>
                <user-row 
                    v-for="user in userList" 
                    :user="user" 
                    :key="user.username"
                    :server_list="serverList"
                    @admin_open_spawn="adminOpenSpawnPage(user)"
                    @admin_stop_server="adminStopServer(user)"
                    @admin_accept_user="adminAcceptUser(user)"
                ></user-row>
            </div>
        </div>
    </div>
    <div class="side-content">
        <div class="content horizontal-flex">
            <div class="side-title center">Tips and Tricks</div>
            <div class="side-title center horizontal-flex">
                <span class="justify"><b>How to proxy a port from inside your server to public url?</b></span>
                <span class="side-detail-content">
                    Visual Studio Code Server already have proxy service. If you run a program on specific port 
                    on VSCode, it will automatically detect that port and proxy to the path ".../proxy/(port)"
                    where (port) is your running program port.
                </span>
            </div>
            <div class="side-title center horizontal-flex">
                <span class="justify"><b>How to save state of previous server running session?</b></span>
                <span class="side-detail-content">
                    DoHub now having enough resources and supported softwares for minimum demand on training, inferencing or
                    especially deploying services. <br/><br/> But sometimes you want to save your enviroment libraries or packages like pip packages,
                    you should use framework that can generate virtual environment for you such as conda and virtualenv and then save that
                    environment folder to the directory which being mounted by NAS (common, it is the home directory). <br/><br/>
                    Futhermore, you can also make your services run automatically by defining a startup file inside "/etc/init.d". 
                </span>
            </div>
        </div>
    </div>
</div>
</body>
<script src="vue.global.js"></script>
<script src="index.js"></script>
</html>