GITHUB_CLIENT_ID=thisisclientid
GITHUB_CLIENT_SECRET=thisisclientsecret
ADMIN_USERS=daovietanh190499
SPAWNER=k8s
NAMESPACE=dohub
DOMAIN_NAME=dohub.example.com
DEFAULT_PORT=8080
DATABASE_HOST=/mnt/database/dohub.db
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=false
ALLOWED_HOSTS=*
